body{
    margin: 0;
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.descriptionGrey{
    font-size: 12pt;
    font-weight: 600;
    color: #7285a3;
}

.head30{
    font-size: 30pt;
    font-weight: 400;
}


.navItem{
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 11pt;
}

.navItem:hover{
    color: #3597ff;
}

.head{
    display: flex;
    padding: 1% 10% 1% 10%;
    align-items: center;
    justify-content: space-between;
}

.headLogo{
    justify-self: flex-start;
    margin-top: 0.5%;
}

nav{
    display: flex;
    justify-self: center;
    justify-content: space-evenly;
}

.signInButton{
    border: none;
    background-color: #3597ff;
    color: white;
    border-radius: 5px;
    width: 12%;
    height: 3pc;
    justify-content: flex-end;
}


/*StartSect*/


.startSect{
    display: flex;
    background-color: #3597ff;
    justify-content: space-between;
    padding: 0% 15% 0% 10%;
}

.startSectImg{
    margin-top: 2.5%;
    height: 25pc;
}

.startSectImgO{
    margin-top: 2.5%;
    margin-left: 25%;
    height: 25pc;
}

.startSectTxt{
    color: white;
    margin-top: 5%;
}

.startSectTxt1{
    font-size: 30pt;
    font-weight: 400;
}

.startSectTxt{
    font-size: 12pt;
    font-weight: 600;
}


/*WhySect*/


.whySect{
    margin-top: 5%;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
}

.descriptionGrey.why{
    margin-top: 5%;
}


/*BenefitsSect*/


.benefitsSect{
    display: flex;
    margin-top: 2.5%;
    padding-left: 25%;
    padding-right: 25%;
    justify-content: space-between;
}

.benefitsSectItem{
    padding: 0% 1.5% 0% 1.5%;
}

.benefitsSectItemHead{
    font-size: 15pt;
    font-weight: 700;
}

.benefitsSectItemTxt{
    font-size: 10pt;
    color: #7285a3;
    font-weight: 600;
}


/*VisionSect*/


.visionSect{
    display: flex;
    margin: 7.5% 15% 7.5% 15%;
    align-items: center;
}

.visionBlocks{
    width: 100%;
    display: flex;
    margin: 0 0 0 0;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.visionBlock{
    width: 35%;
    display: flex;
    background-color: #3597ff;
    align-items: flex-end;
    flex-direction: column;
    border-radius: 2.5%;
    padding: 0 2.5% 0 0;
    margin: 0 0 2.5% 2.5%;
    font-size: 16pt;
    font-weight: 700;
}

.visionBlock.b{
    background-color: #F1F7FD;
    color: #5B94D7;
}

.visionBlock.g{
    background-color: #D7F8EB;
    color: #5CC19A;
}

.visionBlock.y{
    background-color: #F8F3D7;
    color: #DBCA68;
}

.visionBlock.r{
    background-color: #F8D7D7;
    color: #B95E73;
}

.visionBlockNum{
    font-size: 70pt;
    margin: 0;
}


/*LabsSect*/


.labsSect{
    display: flex;
    margin: 7.5% 15% 5% 15%;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
}

.head30.labs{
    padding-right: 5%;
}

.labBox{
    display: flex;
    flex-direction: column;
    width: 35%;
    margin: 0 0.5% 0 0.5%;
    padding: 0 2% 2% 2%;
    border-radius: 2.5%;
    transition: 0.3s;
}

.labBox:hover{
    box-shadow: #dfdfdf 0px 0px 15px;
}

.labHead{
    font-size: 16pt;
}

.labArrow{
    width: 15%;
    transition: 0.3s;
    justify-self: flex-end;
}

.labBox:hover .labArrow{
    filter: invert(46%) sepia(94%) saturate(1804%) hue-rotate(192deg) brightness(102%) contrast(101%);
}


/*LocationsSect*/


.locationsSect{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.head30.locationsHead30{
    text-align: center;
}

.locations{
    display: flex;
    justify-content: space-between;
    margin: 0% 20% 0% 20%;
}


.location{
    display: flex;
    flex-direction: column;
}

.locationImg{
    height: 200pt;
}

.locationSvg{
    height: 15pt;
    margin-left: 1%;
}

.locationAdress{
    display: flex;
    align-items: center;
}

.locationName{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 5%;
}

.locationHead{
    font-size: 16pt;
    font-weight: 700;
}

.locationUrl{
    text-decoration: none;
    color: #3597ff;
    font-weight: 600;
    font-size: 14pt;
}