body{
    margin: 0;
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.navItem{
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 11pt;
}

.navItem:hover{
    color: #3597ff;
}

.head{
    display: flex;
    padding: 1% 10% 1% 10%;
    align-items: center;
    justify-content: space-between;
}

.headLogo{
    justify-self: flex-start;
    margin-top: 0.5%;
}

nav{
    display: flex;
    justify-self: center;
    justify-content: space-evenly;
}

.signInButton{
    border: none;
    background-color: #3597ff;
    color: white;
    border-radius: 5px;
    width: 12%;
    height: 3pc;
    justify-content: flex-end;
}


.startSect{
    display: flex;
    background-color: #3597ff;
    justify-content: space-between;
    padding: 0% 15% 0% 10%;
}

.startSectImg{
    margin-top: 2.5%;
    height: 25pc;
}

.startSectImgO{
    margin-top: 2.5%;
    margin-left: 25%;
    height: 25pc;
}

.startSectTxt{
    color: white;
    margin-top: 5%;
}

.startSectTxt1{
    font-size: 30pt;
    font-weight: 400;
}

.startSectTxt{
    font-size: 12pt;
    font-weight: 600;
}





.whySect{
    margin-top: 5%;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
}

.whySectTxt1{
    font-size: 30pt;
    font-weight: 400;
}

.whySectTxt2{
    margin-top: 5%;
    font-size: 12pt;
    font-weight: 600;
    color: #7285a3;
}

.benefitsSect{
    display: flex;
    margin-top: 2.5%;
    padding-left: 17.5%;
    padding-right: 17.5%;
    justify-content: space-between;
}

.benefitsSectItem{
    padding: 0% 1.5% 0% 1.5%;
}

.benefitsSectItemHead{
    font-size: 15pt;
    font-weight: 700;
}

.benefitsSectItemTxt{
    font-size: 10pt;
    color: #7285a3;
    font-weight: 600;
}