body{
    margin: 0;
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

:root{
    --main-color: #3597ff;
    --description-color: #7285a3;
}

.descriptionGrey{
    font-size:var(--main-color)pt;
    font-weight: 600;
    color: var(--description-color);
}

.head30{
    font-size: 30pt;
    font-weight: 400;
}

.head14{
    font-size: 14pt;
    font-weight: 500;
}

.head16{
    font-size: 16pt;
    font-weight: 600;
}

.head20{
    font-size: 20pt;
    font-weight: 600;
}

hr{
    border: 0;
    height: 1px;
    background: #DBECFF;
    margin: 0 14% 0 14%;
}

.navItem{
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 11pt;
}

.navItem:hover{
    color: var(--main-color);
}

.head{
    display: flex;
    padding: 1% 10% 1% 10%;
    justify-content: space-between;
}

.headLogo{
    justify-self: flex-start;
    margin-top: 0.5%;
}

nav{
    display: flex;
    justify-self: center;
    align-items: center;
}

.navItems{
    display: flex;
    align-self: center;
    justify-content: space-between;
}

.signInButton{
    border: none;
    background-color: var(--main-color);
    color: white;
    border-radius: 5px;
    width: 12%;
    height: 3pc;
    justify-content: flex-end;
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-weight: 700;
    
}

.signInButtonTxt{
    text-decoration: none;
    color: white;
}


/*StartSect*/


.startSect{
    display: flex;
    background-color: var(--main-color);
    justify-content: space-between;
    padding: 0% 15% 0% 10%;
}

.startSectImg{
    margin-top: 2.5%;
    height: 25pc;
}

.startSectImgO{
    margin-top: 2.5%;
    margin-left: 25%;
    height: 25pc;
}

.startSectTxt{
    color: white;
    margin-top: 5%;
}

.startSectTxt1{
    font-size: 30pt;
    font-weight: 400;
}

.startSectTxt{
    font-size: 12pt;
    font-weight: 600;
}


/*WhySect*/


.whySect{
    margin-top: 5%;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
}

.descriptionGrey.why{
    margin-top: 5%;
}


/*BenefitsSect*/


.benefitsSect{
    display: flex;
    margin-top: 2.5%;
    padding-left: 25%;
    padding-right: 25%;
    justify-content: space-between;
}

.benefitsSectItem{
    padding: 0% 1.5% 0% 1.5%;
}

.benefitsSectItemHead{
    font-size: 15pt;
    font-weight: 700;
}

.benefitsSectItemTxt{
    font-size: 10pt;
    color: var(--description-color);
    font-weight: 600;
}


/*VisionSect*/


.visionSect{
    display: flex;
    margin: 7.5% 15% 7.5% 15%;
    align-items: center;
}

.visionBlocks{
    width: 100%;
    display: flex;
    margin: 0 0 0 0;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.visionBlock{
    width: 35%;
    display: flex;
    background-color: var(--main-color);
    align-items: flex-end;
    flex-direction: column;
    border-radius: 2.5%;
    padding: 0 2.5% 0 0;
    margin: 0 0 2.5% 2.5%;
    font-size: 16pt;
    font-weight: 700;
}

.visionBlock.b{
    background-color: #F1F7FD;
    color: #5B94D7;
}

.visionBlock.g{
    background-color: #D7F8EB;
    color: #5CC19A;
}

.visionBlock.y{
    background-color: #F8F3D7;
    color: #DBCA68;
}

.visionBlock.r{
    background-color: #F8D7D7;
    color: #B95E73;
}

.visionBlockNum{
    font-size: 70pt;
    margin: 0;
}


/*LabsSect*/


.labsSect{
    display: flex;
    margin: 7.5% 15% 5% 15%;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
}

.head30.labs{
    padding-right: 5%;
}

.labBox{
    display: flex;
    flex-direction: column;
    width: 35%;
    margin: 0 0.5% 0 0.5%;
    padding: 0 2% 2% 2%;
    border-radius: 2.5%;
    transition: 0.3s;
}

.labBox:hover{
    box-shadow: #dfdfdf 0px 0px 15px;
}

.labHead{
    font-size: 16pt;
}

.labArrow{
    width: 15%;
    justify-self: flex-end;
}

.labBox:hover .labArrow{
    filter: invert(46%) sepia(94%) saturate(1804%) hue-rotate(192deg) brightness(102%) contrast(101%);
}


/*LocationsSect*/


.locationsSect{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.head30.locationsHead30{
    text-align: center;
}

.locations{
    display: flex;
    justify-content: space-between;
    margin: 0% 20% 2.5% 20%;
}


.location{
    display: flex;
    flex-direction: column;
}

.locationImg{
    height: 200pt;
}

.locationSvg{
    height: 15pt;
    margin-left: 1%;
}

.locationAdress{
    display: flex;
    align-items: center;
}

.locationName{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 5%;
}

.locationHead{
    font-size: 16pt;
    font-weight: 700;
}

.locationUrl{
    text-decoration: none;
    color: var(--main-color);
    font-weight: 600;
    font-size: 14pt;
}


/*OpinionsSect*/


.opinionsSect{
    display: flex;
    flex-wrap: wrap;
    padding: 2.5% 15% 0 15%;
    justify-content: space-between;
    align-items: center;
    background-color: #F3F9FF;
}

.opinionsImg{
    height: 400pt;
    
}

.opinion{
    display: flex;
    flex-wrap: wrap;
}

.descriptionGrey.opinion{
    padding: 0 0 0 2.5%;
}

.quoteImg{
    position: absolute;
    
}

.quoter{
    display: flex;
    align-items: center;
    padding-top: 2.5%;
}

.quoterTxt{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}

.descriptionGrey.quoter{
    padding: 0;
    height: 0;
    font-size: 10pt;
}

.quoterImg{
    align-self: center;
}


/*JoinSect*/


.joinSect{
    display: flex;
    margin: 2.5% 15% 0 15%;
    flex-wrap: wrap;
    justify-content: center;
}

.head30.join{
    text-align: center;
}

.joinBoxes{
    display: flex;
    margin-top: 2.5%;
}

.labHead.join{
    height: 0;
}

.labArrow.join{
    width: 12.5%;
}

.labBox.join{
    padding-bottom: 1.5%;
}

.joinBoxBottom{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: flex-end;
}


/*studentProjects*/


.studentProjectsSect{
    display: flex;
    flex-direction: column;
    margin: 5% 0 1.5% 0;
}

.studentProjectsHead{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 20% 0 20%;
}

.studentProject{
    display: flex;
    justify-content: space-between;
    margin: 2.5% 15% 0 15%;
}

.studentProjectImg{
    aspect-ratio: 16/9;
    height: 250pt;
    border-radius: 15px;
    margin-top: 5%;
}

.studentProjectTxt{
    margin-right: 25%;
}

.head20.projects{
    margin: 10% 0 10% 0;
}

.studentProjectLink{
    display: flex;
    align-items: center;
    margin-top: 5%;
}

.labArrow.projects{
    width: 10%;
    filter: invert(46%) sepia(94%) saturate(1804%) hue-rotate(192deg) brightness(102%) contrast(101%);
}

.studentProjectUrl{
    text-decoration: none;
    color: var(--main-color);
    font-weight: 600;
}


/*specialSect*/


.specialSect{
    display: flex;
    flex-direction: column;
    margin: 5% 0 1.5% 0;
}

.head30.special{
    text-align: center;
}

.specials{
    display: flex;
    flex-direction: row;
    margin: 1.5% 25% 0 25%;
}

.special{
    padding: 0 1.5% 1.5% 1.5%;
}


/*meetSect*/


.meetSect{
    display: flex;
    margin: 5% 0 1.5% 0;
    flex-wrap: wrap;
    flex-direction: column;
}

descriptionGrey.meet{
    height: 5pt;
}

.head16.meet{
    height: 10pt;
}

.meetImg{
    height: 275pt;
    border-radius: 1.5%;
}

.meets{
    display: flex;
    margin: 0 15% 0 15%;
    flex-wrap: wrap;
}

.meet{
    padding: 1%;
}


/*supportUsSect*/


.supportUsSect{
    display: flex;
    margin: 5% 15% 1.5% 15%;
    justify-content: space-between;
    align-items: center;
}

.supportUsImg{
    height: 325pt;
}

.supportUs{
    margin-left: 2.5%;
}

.head30.supportUs{
    font-size: 24pt;
}

.studentProjectLink.supportUs{
    margin-top: 5%;
}

.labArrow.supportUsArrow{
    width: 5%;
    filter: invert(46%) sepia(94%) saturate(1804%) hue-rotate(192deg) brightness(102%) contrast(101%);
}


/*whoSect*/


.whoSect{
    display: flex;
    margin: 5% 20% 1.5% 15%;
    justify-content: space-between;
}

.whoImgs{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.whoImg{
    margin: 0 0 0 5%;
}


/*postsSect*/


.postsSect{
    display: flex;
    margin: 7.5% 0 0 0;
    flex-wrap: wrap;
    flex-direction: column;
}


/*modernSect*/


.modernSect{
    display: flex;
    margin: 10% 15% 1.5% 15%;
    justify-content: space-between;
}

.modernSectImg{
    height: 275pt;
    align-self: center;
}

.modernSectTxt{
    margin-right: 10%;
}

.head30.modern{
    height: 25%;
    margin-right: 20%;
}

.modernSectUrlsImg{
    margin-right: 1.5%;
}

.modernSectBtn{
    border: none;
    background-color: var(--main-color);
    color: white;
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-weight: 700;
    font-size: 11pt;
    padding: 3.5% 8.5% 3.5% 8.5%;
    border-radius: 5px;
    margin-top: 2.5%;
}


/*thanksSect*/


.thankSect{
    display: flex;
    margin: 5% 15% 2.5% 15%;
    text-align: center;
    flex-direction: column;
}

.thankSectImgs{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: max-content;
}

.thankImg{
    height: 45pt;
    margin-bottom: 2.5%;
}

.head30.thank{
    height: 10%;
    margin: 0 0 7.5% 0;
}


/*newsletterSect*/


.newsletterSect{
    display: flex;
    margin: 5% 15% 2.5% 15%;
    justify-content: space-between;
    align-items: center;
    background-color: #D7EAFF;
    padding:  2% 5% 2% 5%;
    border-radius: 5pt;
}

.newsletterInput{
    display: flex;
    align-items: center;
    padding: 0.75% 1.5% 0.75% 1.5%;
    border-radius: 5px;
    background-color: white;
    width: 50%;
}

.newsletterInputTxt{
    background: none;
    border: none;
    font-size: 11pt;
    width: 100%;
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-weight: 600;
}

.newsletterImg{
    padding: 1%;
    height: 15pt;
    filter: invert(46%) sepia(94%) saturate(1804%) hue-rotate(192deg) brightness(102%) contrast(101%);

}


/*footer*/


.footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: end;
    margin: 5% 15% 1.5% 15%;
}

.descriptionGrey.footerTxt{
    font-size: 10pt;
}

.descriptionGrey.footerTxt:hover{
    color: #286CD0;
}

.footerUrls{
    width: 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.footerUrl{
    text-decoration: underline var(--description-color);
    margin-right: 15%;
}

.footerUrl:hover{
    color: #286CD0;

}

.footerSocials{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 7.5%;
}

.footerSocial{
    width: 15pt;
    
}

.footerSocialA{
    padding: 1%;
}

.footerRow{
    display: flex;
    justify-content: space-between;
}


/*registration*/


.registrationDiv{
    display: flex;
    flex-direction: column;
    padding: 5% 15% 2.5% 15%;
    text-align: center;
    background-color: var(--main-color);
}

.head30.registration{
    color: white;
}
